/*#region Global values */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', 'Quicksand', sans-serif;
}

.global-nav {
  position: absolute;
  width: 100%;
  display: flex;
  padding-top: 2rem;
  padding-left: 2rem;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}
#about-navbar {
  right: 120px;
  width: 93%;
  z-index: 1;
}

.global-nav a {
  padding-left: 10px;
  text-decoration: none;
}

.global-nav a:hover {
  font-size: larger;
}

.global-nav img {
  width: 60px;
  aspect-ratio: 1;
  opacity: 0.7;
}

@media (max-width: 500px) {
  .global-nav {
    flex-direction: column;
    padding-left: 0;
  }

  .global-nav :not(:first-child) {
    display: none;
  }

  .global-nav img {
    opacity: 0.4;
    width: 100px;
  }
  .global-nav:hover img {
    opacity: 1;
  }

  .global-nav:hover * {
    display: block;
  }
}

/*#endregion */

/*#region Johans Section START*/

.about-wrapper #profiles-wrapper {
  display: flex;
  min-height: 100vh;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-wrapper .profile img {
  border: 2px solid black;
  padding: 12px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

@media (max-width: 520px) {
  .about-wrapper .helifront {
    display: none;
  }

  .about-wrapper .heliside {
    display: none;
  }
  .about-wrapper .inside {
    display: none;
  }
  .about-wrapper #about-navbar {
    right: 0px;
    width: 100%;
  }
}

.about-wrapper .imageText {
  text-align: center;
  position: relative;
  bottom: 50px;
  color: rgba(0, 0, 0, 0.59);
  text-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.about-wrapper #modals-wrapper {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.about-wrapper .modal {
  display: none;

  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);

  border: 2px solid black;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: auto; /*Enable scroll if needed */
}

/* The Close Button */
.about-wrapper .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.about-wrapper .close:hover,
.about-wrapper .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.about-wrapper .top-section {
  height: 100vh;
}

.about-wrapper .parallax-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.about-wrapper .parallax-container img {
  width: 100%;
  position: absolute;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.about-wrapper #background1 {
  height: 108vh;
}

.about-wrapper .parallax-title {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%);
}

.about-wrapper #parallax-footer {
  top: 90vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-wrapper i {
  font-size: 48px;
}

.about-wrapper .profiles-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

.about-wrapper .profile-text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}

/*#endregion Johans Section END*/

/*#region index.html(Forsmark)*/
.hero-section {
  height: 100vh;
  max-width: 100%;
  background-color: rgb(141, 138, 138);
  position: relative;
}

.hero-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(../Images/gallery/air.jpg);
  background-size: cover;
  background-position: center;
}

.hero-image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s linear, opacity 0.5s;
  display: block;
}

.hero-center-img {
  z-index: 1;
}

.hero-left-img {
  transform: translateX(-100vw);
  z-index: 2;
  visibility: hidden;
}

.hero-right-img {
  transform: translateX(100vw);
  z-index: 2;
  visibility: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.hero-overlay-h2 {
  font-size: 62px;
  color: white;
  /* background-color: aqua; */
  align-self: center;
  text-align: center;
  grid-area: 1 / 2 / 1 / 2;
  transition: opacity 0.5s;
}

.hero-right-btn-container {
  /* background-color: blue; */
  grid-area: 1 / 3 / 1 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-right-btn-container:hover * {
  opacity: 0.8;
  transition: opacity 1s;
}

.hero-right-btn-container i {
  opacity: 0;
  margin-right: 2rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.hero-right-btn-container i:hover {
  color: #fff;
}

.hero-left-btn-container {
  /* background-color: green; */
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-left-btn-container:hover * {
  opacity: 0.8;
  transition: opacity 1s;
}

.hero-left-btn-container i {
  opacity: 0;
  margin-left: 2rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.hero-left-btn-container i:hover {
  color: #fff;
}

.hero-bottom-btn-container {
  /* background-color: red; */
  height: 20%;
  align-self: flex-end;
  grid-area: 1 / 1 / 1 / 4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-bottom-btn-container:hover * {
  opacity: 0.8;
}

.hero-bottom-btn {
  width: 15px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  margin: 0.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 1s;
}

@media (max-width: 500px) {
  .hero-right-btn-container i {
    display: none;
  }

  .hero-left-btn-container i {
    display: none;
  }

  .hero-bottom-btn {
    opacity: 0.8;
  }
}

.gallery-thumbnail-container {
  width: 100vw;
  max-width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
}

.gallery-thumbnail-container > img {
  display: block;
  grid-column: span 4;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  cursor: pointer;
  margin: auto;
  border-radius: 20px;
}

.gallery-thumbnail-container > div {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.gallery-thumbnail-container * {
  color: black;
}

@media (max-width: 500px) {
  .gallery-thumbnail-container > img {
    grid-column: span 10;
    max-height: 250px;
  }
  .gallery-thumbnail-container > div {
    grid-column: span 10;
    padding: 0px;
  }
  .gallery-thumbnail-container > *:nth-child(odd) {
    margin-top: 0.5rem;
  }
  .gallery-thumbnail-container > *:nth-child(even) {
    margin-bottom: 0.5rem;
  }
  .gallery-thumbnail-container > *:nth-child(4n) {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  }
}

.modal-gallery {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.93);
  text-align: center;
}

.close-modal-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 1rem 2rem;
  cursor: pointer;
}

.modal-img-container {
  position: relative;
  display: inline-block;
  margin: 2rem auto;
}

.modal-right-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  animation: modalRightBtn 2s infinite alternate ease-in-out;
}
@keyframes modalRightBtn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-0.5rem);
  }
}

.modal-left-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  animation: modalLeftBtn 2s infinite alternate ease-in-out;
}

@keyframes modalLeftBtn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0.5rem);
  }
}

.modal-gallery-img {
  display: block;
  max-width: 100%;
  object-fit: scale-down;
}

.modal-gallery-thumbnail-container {
  width: 100vw;
  max-width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem;
}

.modal-gallery-thumbnail-container > img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  margin: auto;
}

.gallery-yellow-border {
  border: solid yellow 3px;
}

/*#endregion index.html(Forsmark)*/
footer {
  background-color: black;
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.top-footer {
  width: 100%;
  height: 80%;
  background-color: rgba(37, 35, 35, 0.4);
  display: flex;
}
/*.top-footer > *  {
  border: 1px red solid;
}*/
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 33%;
}

.footer-right p {
  font-size: small;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 7px;
}
.footer-right .button {
  background-color: orangered;
  border-radius: 15px;
  padding: 4px 10px;
  font-size: small;
  margin-top: 10px;
}
.footer-right a {
  text-decoration: none;
}

.footer-right .button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.bottom-footer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-middle {
  display: flex;
  width: 33%;
}

.footer-img-container {
  position: relative;
  top: 0px;
  right: 5px;
}
.middle-text a {
  text-decoration: none;
  position: relative;
  top: 20px;
  color: orangered;
}
.footer-left {
  width: 33%;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  padding: 5px;
}
.footer-left h4 {
  padding-top: 15px;
  font-size: small;
  margin-top: 20px;
}
.footer-left .submit-button {
  background-color: orangered;
  border-radius: 10px;
  padding: 2px;
  margin: 3px;
}
.footer-left .submit-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.footer-left a {
  text-decoration: none;
  padding: 5px;
}
.footer-middle img {
  width: 50px;
  aspect-ratio: 1;
  object-fit: scale-down;
  align-self: flex-start;
  margin-right: 7px;
  background-color: rgb(241, 240, 233);
  margin-right: 8px;
}
.footer-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.bottom-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.bottom-footer a {
  text-decoration: none;
}
.bottom-footer a:hover {
  background: silver;
  color: black;
}
.bottom-footer li:first-child {
  list-style: none;
}
.icon-container a:hover {
  transform: scale(1.2);
}

@media (max-width: 500px) {
  .top-footer {
    flex-direction: column;

    justify-content: center;

    align-items: center;
  }

  .footer-right,
  .footer-middle,
  .footer-left {
    width: 100% !important;
  }

  .footer-middle {
    text-align: center;
  }
}

/*#region Erik-CSS*/

.contact-form-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  background-color: black;
  min-height: 100vh;
}

.contact-form-container .contact-form-header {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 35px;
  background-color: #832121;
  border-radius: 21px;
  margin: 25px 25px 0px 25px;
}
.contact-form-container .contact-form-information {
  grid-area: 2 / 1 / 6 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 25px;
  background-image: url(../Images/contact_gallery/contact-info-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 21px;
}

.contact-form-container .contact-form-information img {
  max-width: 100%;
  object-fit: cover;
}

.contact-form-container .contact-form-input {
  grid-area: 2 / 3 / 6 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #832121;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 21px;
}

.contact-form-container .contact-form-input label {
  font-size: 25px;
}

.contact-form-container .contact-form-input input {
  font-size: 20px;
  color: black;
}

.contact-form-container .contact-form-input button {
  font-size: 25px;
  color: black;
  padding: 5px;
}

.contact-form-container .contact-form-input textarea {
  font-size: 25px;
  color: black;
}

.contact-form-container #submit {
  color: #832121;
}

.contact-form-container .fa-spinner {
  display: block;
  text-align: center;
  width: 100%;
  visibility: hidden;
  animation: spinninglogo 3s linear infinite, dissapear 3s;
  position: absolute;
  color: black;
}

@keyframes spinninglogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contact-form-container #modal-text-header {
  animation: show 3100ms;
}
@keyframes show {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.contact-form-container #modal-text-paragraph {
  animation: show 3100ms;
}
@keyframes dissapear {
  0% {
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

/* MODAL */

.contact-form-container #contact-form-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.contact-form-container .contact-form-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.contact-form-container .modal-text {
  position: relative;
  margin-right: 20px;
}

.contact-form-container .modal-text h2,
.contact-form-container p {
  color: black;
}

.contact-form-container .close {
  color: black;
  float: right;
  font-size: 40px;
  font-weight: bold;
  z-index: 999;
  animation: show 3100ms;
}

.contact-form-container .close:hover,
.contact-form-container .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL TEST */

@media screen and (max-width: 850px) {
  .contact-form-container {
    display: block;
    background-color: #832121;
    min-height: 100vh;
  }
  .contact-form-container .contact-form-header {
    margin-top: 0px;
  }
  .contact-form-container .contact-form-information {
    margin-left: px;
    margin-right: 25px;
    padding: 10px;
    margin-top: 25px;
    min-height: 300px;
  }
  .contact-form-container .contact-form-input {
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 0px;
  }
  .contact-form-container .global-nav {
    position: sticky;
  }
}

/*#endregion Erik-CSS*/
